.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid var(--blue);
	border-color: var(--blue) transparent;
	animation: lds-dual-ring 1.2s linear infinite;
	-webkit-animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.custom-shape-divider-top-1693803862 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1693803862 svg {
    position: relative;
    display: block;
    width: calc(189% + 1.3px);
    height: 377px;
}

.custom-shape-divider-top-1693803862 .shape-fill {
    fill: var(--blue);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1693803862 svg {
        width: calc(261% + 1.3px);
        height: 195px;
    }
}

